        .login_container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }

        .login_css {
          border-radius: 20px;
          border: 1px solid #000000;
          background-color: #c3e6f9;
          text-align: center;
          padding: 20px;
          display: inline-block;
        }

        h1 {
          font-size: 30px;
          text-align: center;
          color: #000000;
        }

        .label {
          color: #000000;
          font-size: 16px;
        }

        button {
          align-items: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        input {
          margin: 10px 0;
          padding: 8px;
          border-radius: 6px;
          border: none;
        }

        .form_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        body {
          background: fixed;
          background-color: #8ac4ff;
        }
      .curso-container,
        .questoes-container {
            margin-top: 20px;
            border: 1px solid #000000;
            padding: 20px;
            background-color: #c3e6f9;
            border-radius: 10px;
        }
        .curso-title,
        .questoes-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            color: black;
        }
        .form-wrapper {
            margin-top: 20px;
            padding: 20px;
            background-color: #c3e6f9; 
            border-radius: 10px; 
        }
        .form-wrapper label {
            display: block;
            margin-bottom: 10px;
            color: black;
        }
        .form-wrapper select,
        .form-wrapper input[type="checkbox"] {
            margin-bottom: 10px;
        }
        .btn-voltar {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #f2f2f2;
            color: #333;
            padding: 10px 20px;
            border-radius: 6px;
            text-decoration: none;
            font-size: 16px;
        }

        .btn-voltar:hover {
            background-color: #e0e0e0;
        }
        .mensagem {
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
            color: green;
        }